
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-normal leading-normal text-gray-700 bg-white;
	font-family: 'Josefin Sans', sans-serif;
}

header {
	@apply bg-black mb-8 md:mb-16;
	background-image: url(/img/marble.jpg);
}
h1 {
	@apply tracking-wider uppercase text-center font-bold mx-5 text-4xl sm:text-5xl lg:text-4xl xl:text-5xl text-white py-24 md:py-32;
}
h2 {
	@apply tracking-wider uppercase text-center font-semibold my-5 text-lg;
}
h2.meander {
	background-image: url(/img/meander.svg);
	background-size:  60% 100%;
	background-position: left 0;
	@apply bg-repeat-x;
}
h2.meander span {
	@apply bg-white px-4 py-2 inline-block;
	margin-top: 3px;
}
h3 {
	@apply text-xl font-semibold mb-2 uppercase;
}
p {
	@apply mb-4;
}

.container {
	@apply max-w-3xl mx-auto px-4 md:px-0;
}

.aegean {
	@apply uppercase font-bold;
	font-size: 0.8em;
}
.hero {
	@apply mb-8 text-lg;
}

.card {
	@apply block md:flex pb-8 mb-8;
	background: url(/img/divider.svg) 50% bottom no-repeat;
	background-size: 25%;
}
.card:last-of-type {
	@apply bg-none;
}

.prose ul {
	@apply mb-4;
}
ul.list li, .prose ul li {
	@apply relative pl-6 md:mb-2;
}
ul.list li:after, .prose ul li:after {
	@apply block absolute bg-black;
	content: '';
	height: .4em;
	width: .4em;
	transform: rotate(45deg);
	top: .4em;
	left: 0;
}
.inverse ul.list li:after, .inverse .prose ul li:after {
	@apply bg-gray-50;
}

/* home page specific */
#home-page .prose p, #home-page .prose li {
	@apply md:text-2xl;
}

/* navigation */
.nav {
	@apply bg-black bg-opacity-70;
}
.mobile-menu {
	@apply bg-black;
}
.nav-item, .nav-button {
	@apply text-gray-100 hover:text-gray-300;
}
.nav-logo {
	@apply text-white;
}
#home-page .nav {
	@apply bg-white;
}
#home-page .nav:not(.mobile-menu) {
	@apply bg-opacity-70 md:bg-opacity-30;
}
#home-page .nav-item {
	@apply text-gray-400 hover:text-black transition-colors duration-500 ease-in-out;
}
#home-page .nav-button {
	@apply text-black;
}

/* buttons */
.btn {
	@apply bg-black text-gray-300 hover:text-white hover:bg-gray-700 border-gray-400;
}
